html,body{
	margin:0;
	padding:0;
	font-family: "Open Sans",sans-serif;
	background-color:#f6f6f6;
}



.details h4{
	background-color:#00B16A;/*#049372;*/
	color:white;
	padding:14px;
	margin: 0;
}

.details .col-md-4{
	padding-left:0;
}

.details .col-md-9{

}

.details table{
	margin-top:2%;
	background-color: white;
	font-size: 18px;
}
/*
.details table tbody tr:hover{
	color:white;
	background-color: #0c7391;
	cursor: pointer;
	-webkit-transition:transform 0.3s ease;
	-moz-transition:transform 0.3s ease;
	-ms-transition:transform 0.3s ease;
	-o-transition:transform 0.3s ease;
	transition:transform 0.3s ease;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-o-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.9);
}*/


.img-responsive{
	margin:0 auto;
}

/*filter form*/
.filter-form h5{
	background-color:#eee;/*#049372;*/
	color:black;
	padding:14px;
}

.filter-details{
		margin-top: 2%;
}

.filter-form{
	margin-top: 0;
	padding:0;
}
.filter-form .form-control{
	border-radius: 0;
	height:40px;
	font-weight: bold;
}


.filter-form .btn-info{
	border-radius:0;
	padding:2%;
	font-size: 18px;
	width:40%;
	font-weight: bold;
}
